<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSS Feed - AMRIT EdTech</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="icon" type="image/x-icon" href="https://amrit-corp.com/favicon.png" />
  </head>
  <style>
    body{
      background: transparent;
    }
#titlehd{
  top:0px;
  left:0px;
  width:100%;
  padding:4px;
  position: fixed;
  background-color: #ededed;
  color:#f2f2f2;
  z-index:999;
  text-align: left;
  font-size: 14px;
  padding-left:10px;
}
input{
  width:60px;
  border:0px;
  background: #284ef7b4;
  color:white;
  border-radius: 5px;
  cursor: pointer;
}
#titlehd div{
  margin-top:6px;
}
input:hover{
  opacity: 0.8;
}

  </style>
  <body>
    <form action="/" method="get" id="titlehd">
      <div><label for="xml_url">Source:</label>
      <select name="xml_url" id="xml_url">
          {% for label, url in xml_urls.items() %}
              <option value="{{ url }}" {% if url == selected_xml_url %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="GO">
      <img style="width:18px;padding-top:2px;float:right;margin-right:5px;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Generic_Feed-icon.svg/384px-Generic_Feed-icon.svg.png">
    </div>
  </form><br>
    <div class="container mt-5">
      <div class="row">
        {% for item in data %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <img
            onload="if(this.naturalWidth < 300){this.style.display='none';}else{this.style.display='block';}"
            onerror = "this.style.display='none';"
            src="{{ item.thumbnail_url }}"
            class="card-img-top"
            alt="Thumbnail"
          />
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description | safe}}</p>
              <p style="font-size: 14px">
                <strong>Link:</strong>
                <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
              </p>
              <p><strong>Date:</strong> {{ item.pubDate }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <p
    style="
      text-align: center;
      font-size: 12px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      font-family: 'Courier New', Courier, monospace;
      padding:4px;
      background: #ededed;
    "
  >
    <span
      >AMRIT | Advance Media Representational Information Technologies | </span
    >&copy; <a target="_blank" href="//amrit-corp.com" style="text-decoration: none;">amrit-corp.com</a>
  </p>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
